body{
  background-color: #BBC6D9;
}

#part_logo{
  text-align: center;
  margin-top: 75px;
  border: 5px solid #908CB1;
  border-radius: 30px;
  margin-left: 30%;
  width: 40%;
}

img.rounded-corners{
  border-radius: 30px;
}

#part_logo img{
  width: 100%;
}

.page{
  border: 5px solid #908CB1;
  border-radius: 30px;
  margin:5% 18% 0% 18%;
  padding: 2%;
  background-color: #d7d7d7;
  height: 1100px;
}

.info_générales,.info_physiques,.info_profil,.photo,.Identifiants{
  border-radius: 12px;
  box-shadow: 0px 10px 25px 0px gray;
  border: 3px solid #EF5C76;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 15px;
}

.part_droite{
  float: right;
  width:45%;
}

.part_gauche{
  float:left;
  width:45%;
}

input[type=text],input[type=date],input[type=number],#nombreEnf,#couleurCheveux,#couleurYeux,#nbDoggos,input[type=password]{
  width:80%;
  border:2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition: .3s;
}

input[type=text]:focus,input[type=date]:focus,input[type=number]:focus#nombreEnf:focus,#couleurCheveux:focus,#couleurYeux:focus,#nbDoggos:focus,input[type=password]:focus{
  border-color:dodgerBlue;
  box-shadow:0 0 8px 0 dodgerBlue;
}

#nbEnfants {
  display: none;
}

#nbChiens {
  display: none;
}

.part_boutons{
  float:right;
}

input[type=submit]{
  position: relative;
  margin-right:10%;
  margin-top:20px;
  width: 250px;
  height: 75px;
  border-radius: 35px;
  background-color: #908CB1;
  border: solid 1px transparent;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

input[type=submit]:hover{
  background-color: transparent;
  border-color: #fff;
  transition: all .1s ease-in-out;
}

.deja_use, .mail_pasok{
  background-color: white;
  border: 2px solid red;
  border-radius: 10px;
  width:50%;
  text-align: center;
  padding: 5px;
}
/* Footer */
footer{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
footer {position: absolute; left : 0}
#footer {
background-color: #908CB1;
color: rgba(255, 255, 255, 0.5);
padding: 4rem 0 2rem 0 ;
}

#footer h3, #footer h4{
  color: #ffffff; }

#footer a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none; }
  #footer a:hover {
    color: #EF5C76; }

#footer .content {
  display: flex;}
  #footer .content section {
    width: 25%;}
    #footer .content section:first-child {
      width: 50%;
      padding-right: 15rem;
      padding-left: 4rem;
    }
    #footer .content section:last-child {
      padding-left: 4rem; }



#footer .copyright {
  border-top: 1px solid;
  font-size: 0.8rem;
  opacity: 0.7;
  padding: 2rem 0;
  text-align: center;
  }